# python cache
*.pyc

# IDE and text editors
.vscode/
.idea/
**/.ipynb_checkpoints/

# test
*test_*.*
*test_*/

# custom ignore pattern
*_ignore.*
*_ignore/

# build
/build/
/dist/
/*.egg-info/

# specific files / dir / pattern
datasets/
/data/*
!*.gitkeep
!.sh
